{
  "semi": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "auto",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"]
}
